body
{
  padding: 0;
  font:12px/1.5 Tahoma,Helvetica,Arial,sans-serif;
  overflow: hidden;
  FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr=#C2C2C2, EndColorStr=#F0F0F0);
}

.dtree {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
	white-space: nowrap;
}
.dtree img {
	border: 0px;
	vertical-align: middle;
}
.dtree a {
	color: #333;
	text-decoration: none;
}
.dtree a.node, .dtree a.nodeSel {
	white-space: nowrap;
	padding: 1px 2px 1px 2px;
}
.dtree a.node:hover, .dtree a.nodeSel:hover {
	color: #333;
	text-decoration: underline;
}
.dtree a.nodeSel {
	background-color: #c2c2c2;
}
.dtree .clip {
	overflow: hidden;
}
.dtree .cx {
	padding:0px; 
	margin:0px;
	width:16px;
	height:12px;
}